{% extends "base.html" %}

{% block content %}
<form action="/user" method="GET">
    <label>
        User Name
        <input id="text" type="text" name="user-name"/> 
    </label>
    <br>
    <label> Password
        <input id="password" type="password" name="password"/> 
    </label>
    <br>
    <label> Varify Password
        <input id="varify-password" type="password" name="varify-password"/>
    </label>
    <br>
        <label>
            Email (optional)
            <input id="email-optional" type="text" name="email-optional"> 
        </label>
        <br>
        <input type="submit" value="submit"/>
</form>



 {% endblock %}